
<footer class="flex-grow-1 per-10 footerWrap" style="background-color: #eee;margin-top: 130px;padding: 20px 0;max-width:1366px;margin:0 auto">
  <div class="whole-wrapper">
  	<img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
  
    <div class="flex-grow-1 per-10 d-flex footerMiddle" style="border-bottom: 1px solid #000;margin-top:38px;padding-bottom: 50px;">
	  {%- assign formId = 'footerForm' -%}
      {% form 'contact', id: formId %}
          
      
      <div class="inputWrapper">
      	          	<input 
                         type="text"
                         placeholder="Name"
                         id="{{ formId }}-name"
                         name="contact[{{ 'contact.form.name' | t }}]">
      
          			<input type="email"
                 		   placeholder="Email"
                 		   id="{{ formId }}-email" name="contact[email]"
                 		   value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
      
      
      
                       
                  
                    <div class="footerSelectArrow" style="flex-grow: 1;margin-right: 15px;position:relative;">
                      <select style="width: 100%;" class="filters-toolbar__input" name="contact[ProductCategory]" id="{{ formId }}-ProductCategory" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-select-input>
                        <option value="Headwear"  selected disabled>Product Category</option>
                        <option value="Headwear">Headwear</option>
						<option value="Apparel">Apparel</option>
                        <option value="Drinkware">Drinkware</option>
                        <option value="Custom Orders">Custom Orders</option>

                      </select>
        			</div>  
                    
                  
                
        
        
                <div class="flex-grow-1 footerFormSubmitWrap">
                 <input type="submit" value="SUBMIT">
<!--                   <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M18.1041 10.7485H4.35413" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                         <path d="M12.5585 5.2262L18.1043 10.7482L12.5585 16.2711" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> -->
                </div> 
      
      </div>       
         
      {% endform %}
      
      
      
      
      
      
      
    </div>
    <div class="per-10 flex-grow-1 footerBottom d-flex" style="margin-top: 32px;">
        <div class="d-flex align-items-center per-3" style="justify-content: space-between">
            <a>
                <div class="footer-icon">
                    <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.74716 1.42529H7.43368C6.41106 1.42529 5.43032 1.8225 4.70722 2.52953C3.98412 3.23657 3.57788 4.19551 3.57788 5.19541V7.45748H1.2644V10.4736H3.57788V16.5058H6.66252V10.4736H8.976L9.74716 7.45748H6.66252V5.19541C6.66252 4.99543 6.74377 4.80364 6.88839 4.66223C7.03301 4.52083 7.22916 4.44138 7.43368 4.44138H9.74716V1.42529Z"
                              stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </div>
            </a>
            <a>
                <div class="footer-icon">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8564 1.83911H5.78741C3.83537 1.83911 2.25293 3.42155 2.25293 5.37359V12.4426C2.25293 14.3946 3.83537 15.977 5.78741 15.977H12.8564C14.8084 15.977 16.3909 14.3946 16.3909 12.4426V5.37359C16.3909 3.42155 14.8084 1.83911 12.8564 1.83911Z"
                              stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.1495 8.46263C12.2367 9.05095 12.1362 9.65179 11.8623 10.1797C11.5884 10.7076 11.155 11.1357 10.6237 11.4031C10.0925 11.6705 9.49046 11.7636 8.90327 11.6691C8.31608 11.5746 7.77363 11.2973 7.35309 10.8768C6.93254 10.4563 6.6553 9.9138 6.56082 9.32661C6.46633 8.73942 6.5594 8.13739 6.82679 7.60614C7.09418 7.07489 7.52228 6.64148 8.05019 6.36756C8.5781 6.09364 9.17894 5.99315 9.76725 6.08039C10.3674 6.16938 10.9229 6.44901 11.3519 6.87799C11.7809 7.30696 12.0605 7.86253 12.1495 8.46263Z"
                              stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.2097 5.02002H13.2173" stroke="white" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>

                </div>
            </a>
            <a>
                <div class="footer-icon">
                  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="-0.333984" y="-1" width="14" height="18" fill="black">
                  <rect fill="white" x="-0.333984" y="-1" width="14" height="18"/>
                  <path d="M13.0002 3.98399C12.7577 3.16486 12.3684 2.47528 11.8094 1.87601C11.2627 1.28982 10.6338 0.845317 9.88647 0.516962C9.03511 0.143934 8.04813 -0.0373145 7.10519 0.00640225C6.7612 0.0220382 6.42519 0.0402269 6.09588 0.0877728C5.16794 0.220518 4.35072 0.497178 3.59796 0.933388C2.63715 1.49118 1.88695 2.24936 1.36841 3.18751C1.09909 3.67573 0.833918 4.53667 0.721276 5.09892C0.587892 5.76201 0.705321 6.91173 0.973046 7.56014C1.30746 8.36842 1.58253 8.72677 2.25359 9.2268C2.25774 9.22967 2.67257 9.52835 2.94891 9.52388C3.45213 9.51431 3.55233 9.03279 3.6002 8.80144C3.60913 8.75772 3.61807 8.71465 3.6286 8.67412C3.63785 8.63838 3.64998 8.60009 3.66242 8.5602C3.73358 8.33045 3.83027 8.01582 3.66976 7.73692C3.60945 7.63226 3.53797 7.55089 3.47511 7.47941C3.44097 7.44048 3.4065 7.40282 3.37874 7.36134C3.14005 7.00682 3.01912 6.56327 3.01912 6.04314C3.01912 5.36058 3.17356 4.74217 3.4917 4.15311C4.06864 3.08444 5.02594 2.41018 6.26054 2.20213C6.96319 2.08438 7.782 2.13384 8.39627 2.33041C8.95757 2.51038 9.43526 2.82852 9.77798 3.25133C10.1408 3.69871 10.3482 4.26607 10.3942 4.9381C10.4242 5.36697 10.3852 5.79903 10.353 6.0859C10.2289 7.1903 9.90753 8.07932 9.39761 8.72869C8.97991 9.26158 8.52966 9.52867 8.02069 9.5459C7.69298 9.55867 7.44791 9.49165 7.22645 9.33306C7.01744 9.18404 6.89299 9.00024 6.83428 8.75549C6.7679 8.47596 6.848 8.18622 6.9332 7.87924L6.94692 7.8301C7.02127 7.56014 7.09913 7.31348 7.1754 7.07064C7.29538 6.68804 7.41983 6.29267 7.52226 5.83381C7.63809 5.31591 7.65341 4.89757 7.56948 4.55581C7.4661 4.13141 7.23794 3.81359 6.8914 3.61064C6.52475 3.39684 6.00526 3.35568 5.56905 3.50565C4.91904 3.72743 4.42316 4.31776 4.2084 5.12509C4.09959 5.53513 4.068 5.9656 4.11491 6.4034C4.15096 6.74675 4.22787 7.05883 4.36987 7.43569C4.36508 7.45197 4.35997 7.4692 4.35487 7.48579C4.34466 7.5193 4.3354 7.55184 4.32838 7.57961C4.17553 8.21781 4.02683 8.84707 3.87845 9.47506C3.73773 10.0715 3.59669 10.6669 3.45277 11.2684L3.42022 11.4031C3.2728 12.0157 3.12091 12.6495 3.08549 13.4061L3.06953 13.722C3.03826 14.3097 3.00667 14.9176 3.08549 15.4799C3.10112 15.5897 3.13559 15.8357 3.37778 15.9215C3.45022 15.9758 3.51978 15.9987 3.58743 15.9987C3.79006 15.9987 3.97035 15.7929 4.12384 15.6184C4.62451 15.0491 5.05019 14.3302 5.42545 13.4214C5.5933 13.0148 5.70466 12.5774 5.8122 12.1542L5.87698 11.9021C5.95547 11.6009 6.03238 11.2955 6.10864 10.9933L6.11375 10.9732C6.25511 11.097 6.41849 11.2087 6.60772 11.3124C7.00819 11.5342 7.46003 11.6634 7.95017 11.6963C8.40967 11.7276 8.89343 11.6686 9.42729 11.5154C9.83286 11.3999 10.2209 11.224 10.5815 10.9933C11.8751 10.165 12.7568 8.71592 13.0644 6.91332C13.1566 6.37468 13.1959 5.94166 13.1959 5.46557C13.1952 4.91735 13.1298 4.41828 13.0002 3.98399ZM12.4348 6.80706C12.1575 8.43065 11.377 9.72683 10.2365 10.4569C9.92827 10.6545 9.59673 10.8041 9.2505 10.903C8.78908 11.0358 8.37681 11.0872 7.99261 11.061C7.59023 11.0339 7.23826 10.934 6.91437 10.7547C6.59048 10.5776 6.38052 10.3851 6.23309 10.1308L5.84188 9.45496L5.48927 10.8389C5.41364 11.1392 5.33706 11.443 5.25888 11.7426L5.19346 11.9985C5.08657 12.4181 4.98605 12.8148 4.83511 13.1792C4.4991 13.9935 4.12384 14.6378 3.68986 15.1458C3.65604 14.7134 3.68157 14.2284 3.70646 13.7571L3.72273 13.4373C3.75496 12.7411 3.90015 12.1376 4.04024 11.554L4.0731 11.4184C4.21702 10.8166 4.35806 10.2202 4.4991 9.62344C4.64748 8.99577 4.79587 8.36714 4.94839 7.73054C4.95286 7.71267 4.95924 7.69161 4.96595 7.66959C5.00424 7.54099 5.04413 7.40793 4.9902 7.27295C4.8533 6.92226 4.78119 6.64241 4.74896 6.33735C4.71067 5.97677 4.73587 5.62448 4.8249 5.29006C4.98382 4.69239 5.33004 4.26256 5.7755 4.11067C5.88591 4.0727 6.00143 4.05674 6.11247 4.05674C6.2934 4.05674 6.46125 4.10014 6.5691 4.163C6.7628 4.2766 6.88725 4.45466 6.94883 4.70866C7.00787 4.9499 6.99127 5.28208 6.89905 5.69596C6.80205 6.12834 6.68749 6.49371 6.56591 6.88078C6.48741 7.13031 6.40796 7.38368 6.33138 7.6613L6.31797 7.7098C6.21969 8.06368 6.10864 8.46479 6.21331 8.90451C6.3084 9.30275 6.51837 9.61291 6.85502 9.85351C7.18944 10.0925 7.58193 10.1994 8.04207 10.1851C8.74122 10.1614 9.36602 9.80437 9.89955 9.12405C10.4838 8.37991 10.8498 7.3824 10.9874 6.15801C11.0218 5.84593 11.0643 5.37558 11.0311 4.89534C10.9756 4.08993 10.7209 3.40195 10.2739 2.85054C9.85296 2.33137 9.27093 1.94174 8.59124 1.7238C7.88571 1.49756 6.95202 1.43948 6.15491 1.5735C4.71896 1.81538 3.60403 2.6026 2.93009 3.8506C2.56057 4.53539 2.38092 5.25273 2.38092 6.04378C2.38092 6.69346 2.53823 7.25668 2.84904 7.7181C2.89179 7.78192 2.94285 7.84127 2.99582 7.90126C3.04337 7.95551 3.08836 8.00656 3.1158 8.05411C3.13527 8.10612 3.07974 8.28609 3.05294 8.37257C3.03794 8.42139 3.02358 8.4683 3.0121 8.51202C2.99869 8.56307 2.98721 8.61764 2.97572 8.67252C2.96327 8.73251 2.94413 8.82537 2.92402 8.87643C2.8484 8.84675 2.71023 8.77081 2.63556 8.7156C2.06213 8.28865 1.85185 8.0139 1.56402 7.31731C1.34799 6.79366 1.24077 5.75754 1.34799 5.22529C1.46765 4.62889 1.72261 3.86975 1.92811 3.49672C2.38985 2.661 3.05964 1.9845 3.91898 1.48607C4.59962 1.09166 5.34121 0.840849 6.18746 0.71991C6.48837 0.676193 6.80747 0.659281 7.13551 0.644283C7.98112 0.604396 8.8679 0.767137 9.63055 1.10155C10.2968 1.39417 10.8572 1.78985 11.3432 2.31158C11.8333 2.83682 12.1751 3.44311 12.3889 4.16555C12.5009 4.54113 12.5573 4.97926 12.5573 5.46684C12.557 5.90497 12.5203 6.30576 12.4348 6.80706Z"/>
                  </mask>
                  <path d="M13.0002 3.98399C12.7577 3.16486 12.3684 2.47528 11.8094 1.87601C11.2627 1.28982 10.6338 0.845317 9.88647 0.516962C9.03511 0.143934 8.04813 -0.0373145 7.10519 0.00640225C6.7612 0.0220382 6.42519 0.0402269 6.09588 0.0877728C5.16794 0.220518 4.35072 0.497178 3.59796 0.933388C2.63715 1.49118 1.88695 2.24936 1.36841 3.18751C1.09909 3.67573 0.833918 4.53667 0.721276 5.09892C0.587892 5.76201 0.705321 6.91173 0.973046 7.56014C1.30746 8.36842 1.58253 8.72677 2.25359 9.2268C2.25774 9.22967 2.67257 9.52835 2.94891 9.52388C3.45213 9.51431 3.55233 9.03279 3.6002 8.80144C3.60913 8.75772 3.61807 8.71465 3.6286 8.67412C3.63785 8.63838 3.64998 8.60009 3.66242 8.5602C3.73358 8.33045 3.83027 8.01582 3.66976 7.73692C3.60945 7.63226 3.53797 7.55089 3.47511 7.47941C3.44097 7.44048 3.4065 7.40282 3.37874 7.36134C3.14005 7.00682 3.01912 6.56327 3.01912 6.04314C3.01912 5.36058 3.17356 4.74217 3.4917 4.15311C4.06864 3.08444 5.02594 2.41018 6.26054 2.20213C6.96319 2.08438 7.782 2.13384 8.39627 2.33041C8.95757 2.51038 9.43526 2.82852 9.77798 3.25133C10.1408 3.69871 10.3482 4.26607 10.3942 4.9381C10.4242 5.36697 10.3852 5.79903 10.353 6.0859C10.2289 7.1903 9.90753 8.07932 9.39761 8.72869C8.97991 9.26158 8.52966 9.52867 8.02069 9.5459C7.69298 9.55867 7.44791 9.49165 7.22645 9.33306C7.01744 9.18404 6.89299 9.00024 6.83428 8.75549C6.7679 8.47596 6.848 8.18622 6.9332 7.87924L6.94692 7.8301C7.02127 7.56014 7.09913 7.31348 7.1754 7.07064C7.29538 6.68804 7.41983 6.29267 7.52226 5.83381C7.63809 5.31591 7.65341 4.89757 7.56948 4.55581C7.4661 4.13141 7.23794 3.81359 6.8914 3.61064C6.52475 3.39684 6.00526 3.35568 5.56905 3.50565C4.91904 3.72743 4.42316 4.31776 4.2084 5.12509C4.09959 5.53513 4.068 5.9656 4.11491 6.4034C4.15096 6.74675 4.22787 7.05883 4.36987 7.43569C4.36508 7.45197 4.35997 7.4692 4.35487 7.48579C4.34466 7.5193 4.3354 7.55184 4.32838 7.57961C4.17553 8.21781 4.02683 8.84707 3.87845 9.47506C3.73773 10.0715 3.59669 10.6669 3.45277 11.2684L3.42022 11.4031C3.2728 12.0157 3.12091 12.6495 3.08549 13.4061L3.06953 13.722C3.03826 14.3097 3.00667 14.9176 3.08549 15.4799C3.10112 15.5897 3.13559 15.8357 3.37778 15.9215C3.45022 15.9758 3.51978 15.9987 3.58743 15.9987C3.79006 15.9987 3.97035 15.7929 4.12384 15.6184C4.62451 15.0491 5.05019 14.3302 5.42545 13.4214C5.5933 13.0148 5.70466 12.5774 5.8122 12.1542L5.87698 11.9021C5.95547 11.6009 6.03238 11.2955 6.10864 10.9933L6.11375 10.9732C6.25511 11.097 6.41849 11.2087 6.60772 11.3124C7.00819 11.5342 7.46003 11.6634 7.95017 11.6963C8.40967 11.7276 8.89343 11.6686 9.42729 11.5154C9.83286 11.3999 10.2209 11.224 10.5815 10.9933C11.8751 10.165 12.7568 8.71592 13.0644 6.91332C13.1566 6.37468 13.1959 5.94166 13.1959 5.46557C13.1952 4.91735 13.1298 4.41828 13.0002 3.98399ZM12.4348 6.80706C12.1575 8.43065 11.377 9.72683 10.2365 10.4569C9.92827 10.6545 9.59673 10.8041 9.2505 10.903C8.78908 11.0358 8.37681 11.0872 7.99261 11.061C7.59023 11.0339 7.23826 10.934 6.91437 10.7547C6.59048 10.5776 6.38052 10.3851 6.23309 10.1308L5.84188 9.45496L5.48927 10.8389C5.41364 11.1392 5.33706 11.443 5.25888 11.7426L5.19346 11.9985C5.08657 12.4181 4.98605 12.8148 4.83511 13.1792C4.4991 13.9935 4.12384 14.6378 3.68986 15.1458C3.65604 14.7134 3.68157 14.2284 3.70646 13.7571L3.72273 13.4373C3.75496 12.7411 3.90015 12.1376 4.04024 11.554L4.0731 11.4184C4.21702 10.8166 4.35806 10.2202 4.4991 9.62344C4.64748 8.99577 4.79587 8.36714 4.94839 7.73054C4.95286 7.71267 4.95924 7.69161 4.96595 7.66959C5.00424 7.54099 5.04413 7.40793 4.9902 7.27295C4.8533 6.92226 4.78119 6.64241 4.74896 6.33735C4.71067 5.97677 4.73587 5.62448 4.8249 5.29006C4.98382 4.69239 5.33004 4.26256 5.7755 4.11067C5.88591 4.0727 6.00143 4.05674 6.11247 4.05674C6.2934 4.05674 6.46125 4.10014 6.5691 4.163C6.7628 4.2766 6.88725 4.45466 6.94883 4.70866C7.00787 4.9499 6.99127 5.28208 6.89905 5.69596C6.80205 6.12834 6.68749 6.49371 6.56591 6.88078C6.48741 7.13031 6.40796 7.38368 6.33138 7.6613L6.31797 7.7098C6.21969 8.06368 6.10864 8.46479 6.21331 8.90451C6.3084 9.30275 6.51837 9.61291 6.85502 9.85351C7.18944 10.0925 7.58193 10.1994 8.04207 10.1851C8.74122 10.1614 9.36602 9.80437 9.89955 9.12405C10.4838 8.37991 10.8498 7.3824 10.9874 6.15801C11.0218 5.84593 11.0643 5.37558 11.0311 4.89534C10.9756 4.08993 10.7209 3.40195 10.2739 2.85054C9.85296 2.33137 9.27093 1.94174 8.59124 1.7238C7.88571 1.49756 6.95202 1.43948 6.15491 1.5735C4.71896 1.81538 3.60403 2.6026 2.93009 3.8506C2.56057 4.53539 2.38092 5.25273 2.38092 6.04378C2.38092 6.69346 2.53823 7.25668 2.84904 7.7181C2.89179 7.78192 2.94285 7.84127 2.99582 7.90126C3.04337 7.95551 3.08836 8.00656 3.1158 8.05411C3.13527 8.10612 3.07974 8.28609 3.05294 8.37257C3.03794 8.42139 3.02358 8.4683 3.0121 8.51202C2.99869 8.56307 2.98721 8.61764 2.97572 8.67252C2.96327 8.73251 2.94413 8.82537 2.92402 8.87643C2.8484 8.84675 2.71023 8.77081 2.63556 8.7156C2.06213 8.28865 1.85185 8.0139 1.56402 7.31731C1.34799 6.79366 1.24077 5.75754 1.34799 5.22529C1.46765 4.62889 1.72261 3.86975 1.92811 3.49672C2.38985 2.661 3.05964 1.9845 3.91898 1.48607C4.59962 1.09166 5.34121 0.840849 6.18746 0.71991C6.48837 0.676193 6.80747 0.659281 7.13551 0.644283C7.98112 0.604396 8.8679 0.767137 9.63055 1.10155C10.2968 1.39417 10.8572 1.78985 11.3432 2.31158C11.8333 2.83682 12.1751 3.44311 12.3889 4.16555C12.5009 4.54113 12.5573 4.97926 12.5573 5.46684C12.557 5.90497 12.5203 6.30576 12.4348 6.80706Z" fill="white"/>
                  <path d="M13.0002 3.98399C12.7577 3.16486 12.3684 2.47528 11.8094 1.87601C11.2627 1.28982 10.6338 0.845317 9.88647 0.516962C9.03511 0.143934 8.04813 -0.0373145 7.10519 0.00640225C6.7612 0.0220382 6.42519 0.0402269 6.09588 0.0877728C5.16794 0.220518 4.35072 0.497178 3.59796 0.933388C2.63715 1.49118 1.88695 2.24936 1.36841 3.18751C1.09909 3.67573 0.833918 4.53667 0.721276 5.09892C0.587892 5.76201 0.705321 6.91173 0.973046 7.56014C1.30746 8.36842 1.58253 8.72677 2.25359 9.2268C2.25774 9.22967 2.67257 9.52835 2.94891 9.52388C3.45213 9.51431 3.55233 9.03279 3.6002 8.80144C3.60913 8.75772 3.61807 8.71465 3.6286 8.67412C3.63785 8.63838 3.64998 8.60009 3.66242 8.5602C3.73358 8.33045 3.83027 8.01582 3.66976 7.73692C3.60945 7.63226 3.53797 7.55089 3.47511 7.47941C3.44097 7.44048 3.4065 7.40282 3.37874 7.36134C3.14005 7.00682 3.01912 6.56327 3.01912 6.04314C3.01912 5.36058 3.17356 4.74217 3.4917 4.15311C4.06864 3.08444 5.02594 2.41018 6.26054 2.20213C6.96319 2.08438 7.782 2.13384 8.39627 2.33041C8.95757 2.51038 9.43526 2.82852 9.77798 3.25133C10.1408 3.69871 10.3482 4.26607 10.3942 4.9381C10.4242 5.36697 10.3852 5.79903 10.353 6.0859C10.2289 7.1903 9.90753 8.07932 9.39761 8.72869C8.97991 9.26158 8.52966 9.52867 8.02069 9.5459C7.69298 9.55867 7.44791 9.49165 7.22645 9.33306C7.01744 9.18404 6.89299 9.00024 6.83428 8.75549C6.7679 8.47596 6.848 8.18622 6.9332 7.87924L6.94692 7.8301C7.02127 7.56014 7.09913 7.31348 7.1754 7.07064C7.29538 6.68804 7.41983 6.29267 7.52226 5.83381C7.63809 5.31591 7.65341 4.89757 7.56948 4.55581C7.4661 4.13141 7.23794 3.81359 6.8914 3.61064C6.52475 3.39684 6.00526 3.35568 5.56905 3.50565C4.91904 3.72743 4.42316 4.31776 4.2084 5.12509C4.09959 5.53513 4.068 5.9656 4.11491 6.4034C4.15096 6.74675 4.22787 7.05883 4.36987 7.43569C4.36508 7.45197 4.35997 7.4692 4.35487 7.48579C4.34466 7.5193 4.3354 7.55184 4.32838 7.57961C4.17553 8.21781 4.02683 8.84707 3.87845 9.47506C3.73773 10.0715 3.59669 10.6669 3.45277 11.2684L3.42022 11.4031C3.2728 12.0157 3.12091 12.6495 3.08549 13.4061L3.06953 13.722C3.03826 14.3097 3.00667 14.9176 3.08549 15.4799C3.10112 15.5897 3.13559 15.8357 3.37778 15.9215C3.45022 15.9758 3.51978 15.9987 3.58743 15.9987C3.79006 15.9987 3.97035 15.7929 4.12384 15.6184C4.62451 15.0491 5.05019 14.3302 5.42545 13.4214C5.5933 13.0148 5.70466 12.5774 5.8122 12.1542L5.87698 11.9021C5.95547 11.6009 6.03238 11.2955 6.10864 10.9933L6.11375 10.9732C6.25511 11.097 6.41849 11.2087 6.60772 11.3124C7.00819 11.5342 7.46003 11.6634 7.95017 11.6963C8.40967 11.7276 8.89343 11.6686 9.42729 11.5154C9.83286 11.3999 10.2209 11.224 10.5815 10.9933C11.8751 10.165 12.7568 8.71592 13.0644 6.91332C13.1566 6.37468 13.1959 5.94166 13.1959 5.46557C13.1952 4.91735 13.1298 4.41828 13.0002 3.98399ZM12.4348 6.80706C12.1575 8.43065 11.377 9.72683 10.2365 10.4569C9.92827 10.6545 9.59673 10.8041 9.2505 10.903C8.78908 11.0358 8.37681 11.0872 7.99261 11.061C7.59023 11.0339 7.23826 10.934 6.91437 10.7547C6.59048 10.5776 6.38052 10.3851 6.23309 10.1308L5.84188 9.45496L5.48927 10.8389C5.41364 11.1392 5.33706 11.443 5.25888 11.7426L5.19346 11.9985C5.08657 12.4181 4.98605 12.8148 4.83511 13.1792C4.4991 13.9935 4.12384 14.6378 3.68986 15.1458C3.65604 14.7134 3.68157 14.2284 3.70646 13.7571L3.72273 13.4373C3.75496 12.7411 3.90015 12.1376 4.04024 11.554L4.0731 11.4184C4.21702 10.8166 4.35806 10.2202 4.4991 9.62344C4.64748 8.99577 4.79587 8.36714 4.94839 7.73054C4.95286 7.71267 4.95924 7.69161 4.96595 7.66959C5.00424 7.54099 5.04413 7.40793 4.9902 7.27295C4.8533 6.92226 4.78119 6.64241 4.74896 6.33735C4.71067 5.97677 4.73587 5.62448 4.8249 5.29006C4.98382 4.69239 5.33004 4.26256 5.7755 4.11067C5.88591 4.0727 6.00143 4.05674 6.11247 4.05674C6.2934 4.05674 6.46125 4.10014 6.5691 4.163C6.7628 4.2766 6.88725 4.45466 6.94883 4.70866C7.00787 4.9499 6.99127 5.28208 6.89905 5.69596C6.80205 6.12834 6.68749 6.49371 6.56591 6.88078C6.48741 7.13031 6.40796 7.38368 6.33138 7.6613L6.31797 7.7098C6.21969 8.06368 6.10864 8.46479 6.21331 8.90451C6.3084 9.30275 6.51837 9.61291 6.85502 9.85351C7.18944 10.0925 7.58193 10.1994 8.04207 10.1851C8.74122 10.1614 9.36602 9.80437 9.89955 9.12405C10.4838 8.37991 10.8498 7.3824 10.9874 6.15801C11.0218 5.84593 11.0643 5.37558 11.0311 4.89534C10.9756 4.08993 10.7209 3.40195 10.2739 2.85054C9.85296 2.33137 9.27093 1.94174 8.59124 1.7238C7.88571 1.49756 6.95202 1.43948 6.15491 1.5735C4.71896 1.81538 3.60403 2.6026 2.93009 3.8506C2.56057 4.53539 2.38092 5.25273 2.38092 6.04378C2.38092 6.69346 2.53823 7.25668 2.84904 7.7181C2.89179 7.78192 2.94285 7.84127 2.99582 7.90126C3.04337 7.95551 3.08836 8.00656 3.1158 8.05411C3.13527 8.10612 3.07974 8.28609 3.05294 8.37257C3.03794 8.42139 3.02358 8.4683 3.0121 8.51202C2.99869 8.56307 2.98721 8.61764 2.97572 8.67252C2.96327 8.73251 2.94413 8.82537 2.92402 8.87643C2.8484 8.84675 2.71023 8.77081 2.63556 8.7156C2.06213 8.28865 1.85185 8.0139 1.56402 7.31731C1.34799 6.79366 1.24077 5.75754 1.34799 5.22529C1.46765 4.62889 1.72261 3.86975 1.92811 3.49672C2.38985 2.661 3.05964 1.9845 3.91898 1.48607C4.59962 1.09166 5.34121 0.840849 6.18746 0.71991C6.48837 0.676193 6.80747 0.659281 7.13551 0.644283C7.98112 0.604396 8.8679 0.767137 9.63055 1.10155C10.2968 1.39417 10.8572 1.78985 11.3432 2.31158C11.8333 2.83682 12.1751 3.44311 12.3889 4.16555C12.5009 4.54113 12.5573 4.97926 12.5573 5.46684C12.557 5.90497 12.5203 6.30576 12.4348 6.80706Z" stroke="white" stroke-width="0.2" mask="url(#path-1-outside-1)"/>
                  </svg>

                </div>
            </a>

        </div>
        <h6>© 2021, Vintage State Apparel</h6>
    </div>
</div>
<!-- developed by => saaa.pro -->
</footer>


<style>
  @media only screen and (max-width:1000px){
    .footerMiddle{
    	display:block!important
    }
    .footerBottom{
    	display:block!important;
    }
    .footerBottom h6 {
  		text-align:center;
  	}
    .footerBottom > div{
    	justify-content: center!important;
      	margin:0 auto;
        margin-bottom: 20px;

    }
    .footerWrap  img{
        width: 140px;
        margin: 0 auto;
        display: block;
    }
    
    footer form .inputWrapper{
	    flex-direction: column;

    }
    footer form input,footer form select{
    	margin-right:0!important;
      	margin-bottom:13px;
      
    }
    .footerSelectArrow{
    	margin-right:0!important;
    
    }
  
  }
  
  .footerSelectArrow:after{
        color:#000;
        position: absolute;
        top: 10px;
        content: "\f078";
        right: 15px;
        font-family: 'fontawesome';
        pointer-events: none;
  }
  .footerWrap input,select{
  	background-color:#fff;
  }

  
  
  
  
  
  #AccessibleNavFooter li{
  
  	width:30%
  }
  .footer-icon:hover{
  	background-color:rgba(0,0,0,0.8);
  }
  
  
      .footer-icon{
        width: 33px;
        height: 33px;
        border-radius: 100%;
        background-color: #000;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerBottom h6{
        font-size: 16px;
        color:#000;
        font-weight: 400;
        font-family: 'Roboto Condensed';
    	letter-spacing: unset;
        text-transform: unset;
    }
    .footerBottom{
        align-items: center;
        justify-content: space-between;

    }
    .footerMiddle h2{
        color: #000;
        font-size: 16px;
        font-weight: 700;
      	font-family: 'Roboto Condensed';
    	letter-spacing: unset;
        text-transform: unset;

    }
    .footerSubscribe a{
        color: #000!important;
        font-size: 16px;
        font-weight: 400;
        display: flex;
    	align-items: center;

    }
  	.footerSubscribe input{
        border: none;
        width: 100%;
        background-color: transparent;
        outline: none;
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
      	padding-left: 0;

    } 
  	.footerSubscribe input::placeholder{
  		color:#000!important;
          font-family: 'Roboto Condensed';
  
  	}
  	.footerSubscribe a svg{
        transform: translateX(5px);
        transition: 0.5s all ease;   
    }
  	.footerSubscribe a{
  		position:absolute;
      	right:0;
      	top:8px;
  	}
  
  	.footerSubscribe a:hover svg{
        transform: translateX(10px);
  	}
  
    .footerSubscribe{
        margin-bottom: 20px;
        justify-content: space-between;
        margin-top: 38px;
        position: relative;
    }
  footer .site-nav__label {
  	    border-bottom: none;
  }
  footer .site-nav__link:hover  .site-nav__label{
  	border-bottom: 1px solid transparent;
  }
  
  footer form .inputWrapper{
  	width:100%;
    display:flex;
    
  }
  footer form{
    	width:100%;
  }
  footer form input,footer form select{
  	flex-grow:1;
    padding:13px!important;
    border:1px solid #000!important;
    margin-right:15px;
        font-family: 'Roboto Condensed';
  }
  footer form input::placeholder{
  	color:#000;
    font-size:16px;
    font-weight:400;
    opacity:1;
    font-family: 'Roboto Condensed';
    
  }
  footer form input[type="submit"]{
  	background-color:#000;
    color:#fff;
    width:100%;
    height:100%;
    margin-right:0!important;
    
    
  }
  footer form .filters-toolbar__input {
  	height:unset!important;
  
  }
  
  
  
  footer form input[type="submit"] + svg{
  	position: absolute;
    top: 13px;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    transform: translateX(40px);
    transition:1s all ease;
  }
  footer form input[type="submit"]:hover + svg{
  	transform: translateX(45px);

  }
  
  
  
  .footerFormSubmitWrap{
  	position:relative;
    
  }

  
  
</style>



{% schema %}
  {
    "name": "footer2",
    "settings": [
	{
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "en": "Menu"
      },
      "default": "main-menu"
    },
	{
      "type": "image_picker",
      "id": "logo",
      "label": {
        "en": "Logo image"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "en": "Custom logo width"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    }

	],
    "presets": [
      {
      "name": "footer2",
      "category": "ADVANCED LAYOUT"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
